<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>itoffer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.qst.itoffer.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.qst.itoffer.servlet.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/company</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResumeServlet</servlet-name>
    <servlet-class>com.qst.itoffer.servlet.ResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeServlet</servlet-name>
    <url-pattern>/resume</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.qst.itoffer.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/ufile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.qst.itoffer.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/dfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VcodeServlet</servlet-name>
    <servlet-class>com.qst.itoffer.servlet.VcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VcodeServlet</servlet-name>
    <url-pattern>/VcodeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>com.qst.itoffer.filter.UrlRewriteFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ApplicantFilter</filter-name>
    <filter-class>com.qst.itoffer.filter.ApplicantFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApplicantFilter</filter-name>
    <url-pattern>/applicant/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.asp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.php</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
  </filter-mapping>
</web-app>